@import "colors.css";

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SymbolsNerdFontMono, "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    color:      @base04;
    background: @base00;
    opacity: 0.8;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    min-width: 3em;
    background-color: transparent;
    color: @base05;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base01;
    box-shadow: inherit;
    border-bottom: 3px solid @base04;
}

#workspaces button.focused {
    background-color: @base02;
    border-bottom: 3px solid @base04;
}

#workspaces button.urgent {
    background-color: @base0F;
}

#pulseaudio {
    /* font-size: 26px; */
}

#custom-cpu_speed {
    min-width: 82px;
}

#temperature {
    margin: 0;
    padding: 0;
}

#network {
    min-width: 11em;
}

#mode {
    color: @base06;
    background-color: @base09;
    padding: 0 5px;
    border-bottom: 3px solid @base0A;
    font-weight: bold;
}

#tray,
#battery,
#disk,
#clock,
#temperature.critical,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-updates,
#custom-media {;
    margin:     0px 0px 0px 10px;
    padding: 0 5px;
    border-bottom: 3px solid @base01;
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
